<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jafir.qingning">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:name="com.jafir.qingning.app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="swanFFKiV0hwdcKdS1tI3LwzlnjVxiAA" />
        //key:开发者申请的key
        <activity
            android:name="com.jafir.qingning.app.activity.SplashActivity"
            android:label="@string/app_name">


        </activity>
        <activity
            android:name="com.jafir.qingning.app.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".app.activity.DetailActivity"-->
        <!--android:parentActivityName=".app.activity.MainActivity">-->
        <!--<meta-data android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value=".app.activity.MainActivity" />-->
        <!--</activity>-->
        <activity
            android:name="com.jafir.qingning.app.activity.DetailActivity"
            android:theme="@style/DetailTheme" />
        <activity
            android:name="com.jafir.qingning.app.activity.EventDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity
            android:name="com.jafir.qingning.app.activity.ShopDetailActivity"
            android:theme="@style/DetailTheme" />
        <activity android:name=".app.activity.rent.CityPickerActivity" />
        <activity android:name=".app.activity.rent.ChooseBikeActivity" />
        <activity android:name=".app.activity.OrderActivity" />
        <activity android:name=".app.activity.OrderSuccessActivity" />
        <activity android:name=".app.activity.OrderDetailActivity" />
        <activity android:name=".app.activity.PayActivity" />
        <activity android:name=".app.activity.EvaluateActivity" />
        <activity android:name=".app.activity.RedBagActivity" />
        <activity android:name=".app.activity.StoreChitActivity" />
        <activity android:name=".app.activity.BezierAcitvity" />

        <activity
            android:name=".app.activity.SelectActivity"
            android:theme="@style/DialogStyleBottom" />


        <activity android:name=".app.activity.MyEventActivity" />
        <activity android:name=".app.activity.MyGuideBookActivity" />
        <activity android:name=".app.activity.EditGuidebookActivity" />


        <activity android:name=".app.activity.ContactActivity" />
        <activity android:name=".app.activity.EditActivity" />
        <activity android:name=".app.activity.GuideBookActivity" />


        <activity
            android:name=".app.activity.LoginActivity"
            android:label="登录"
            android:theme="@style/DialoglTheme"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity
            android:name=".app.activity.RegisterActivity"
            android:label="注册"
            android:theme="@style/DialoglTheme"
            android:windowSoftInputMode="stateVisible"></activity>
        <activity android:name=".app.activity.GuideActivity">


        </activity>
        <activity
            android:name=".app.activity.rent.ChehangDetailActivity"
            android:theme="@style/DetailTheme" />


        <!--发布-->

        <activity android:name=".app.activity.publishEvent.PublishEventActivity" />
        <activity
            android:name=".app.activity.publishEvent.WriteTextActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".app.activity.publishEvent.WriteDaysActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".app.activity.publishEvent.WriteDateActivity"

            />
        <activity
            android:name=".app.activity.publishEvent.WriteRequireActivity"
            android:windowSoftInputMode="stateVisible" />


        <!--高德地图定位-->
        <service android:name="com.amap.api.location.APSService" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5cc02fa77a19d70a07e044abc576fa5a" />
        <!--高德地图定位结束-->

        <!--百度定位-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

    </application>


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
</manifest>